<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ripetizioni Unito</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.30/vue.global.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/vue-router@4"></script>

    <link rel="stylesheet" href="style.css">


</head>
<body>

<div id="app">

    <header>
        <nav class="navbar navbar-expand-lg">
            <router-link class="navbar-brand" to="/">Ripetizioni Unito</router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <router-link class="nav-link" to="/">Home</router-link>
                    </li>
                    <span v-if="prenotazioni">
                    <li class="nav-item">
                    <router-link class="nav-link" to="/Prenotazioni">Prenotazioni</router-link>
                    </li>
                </span>
                    <span v-if="Login_view">
                 <li class="nav-item">
                     <router-link id="log" class="nav-link" to="/Login">Login</router-link>
                 </li>
                </span>
                    <span v-if="Login_view">
            <li class="nav-item">
                <router-link id="reg" class="nav-link" to="/Registrazione">Registrazione</router-link>
            </li>
                </span>
                    <div v-if="Impostazioni_admin">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Impostazioni Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <router-link id="Impostazioni_Ripetizioni" class="dropdown-item" to="/Impostazioni_Ripetizioni">Ripetizioni</router-link>
                                <router-link id="Impostazioni_Docenti" class="dropdown-item" to="/Impostazioni_Docenti">Docenti</router-link>
                                <router-link id="Impostazioni_Corsi" class="dropdown-item" to="/Impostazioni_Corsi">Corsi</router-link>
                            </div>
                        </li>
                    </div>
                    <span v-if="Logout">
                    <li class="nav-item">
                     <button id="logout" class="nav-link" @click="logout">Esci</button>
                    </li>
                </span>
                </ul>
            </div>
        </nav>


        <span v-if="Reg_view"><h1 class="intro">Benvenuto {{account}}! Ora puoi iniziare a prenotare</h1></span>
        <span v-if="intro_view"><h1 class="intro">Bentornato {{account}}! E' bello riaverti qui.</h1></span><br>

        <h1 class="intro">{{message}}</h1>
    </header>

    <article>
        <Transition name="fade">
            <router-view></router-view>
        </Transition>
    </article>



</div>

<script>

    function setXMLHttpRequest() {

        var xhr = null;
        if (window.XMLHttpRequest) {
            xhr = new XMLHttpRequest();
        } else if (window.ActiveXObject) {
            xhr = new ActiveXObject("Microsoft.XMLHTTP");
        }
        return xhr;
    }

    const xhrObj = setXMLHttpRequest();


    const Home = {

        template:

            '<article>' +
            '<div id="home_btn" class="btn-group" role="group" aria-label="Basic example">\n' +
            '  <button v-on:click="Calendar" class="option_double" type="button" class="btn btn-secondary">Calendario Ripetizioni</button>\n' +
            '  <button v-on:click="Insegnamenti" class="option_double" type="button" class="btn btn-secondary">Ripetizioni Disponibili</button>\n' +
            '</div>' +
            '<div id="result"></div>' +
            '</article>',

        methods: {

            Calendar: function () {

                const url = "Home?param=Ripetizioni";
                xhrObj.open("post", url, true);
                xhrObj.onreadystatechange = Home.methods.updatePage;
                xhrObj.send(null);

            },

            Insegnamenti: function(){

                const url = "Home?param=Insegnamenti";
                xhrObj.open("post", url, true);
                xhrObj.onreadystatechange = Home.methods.updatePage;
                xhrObj.send(null);
            },

            updatePage: function () {

                if (xhrObj.readyState === 4) {
                    if (xhrObj.status === 200) {

                        const risp = xhrObj.responseText;
                        const result = document.getElementById("result");
                        result.innerHTML = risp;

                    }
                }
            }

        }
    }

    const Login = {

        template:
            '<div class="container-fluid bg">\n' +
            '    <div class="row">\n' +
            '<div class="col-md-4 col-sm-4 col-xs-12"></div>\n' +
            '<div class="col-md-4 col-sm-4 col-xs-12">\n' +
            '    <form class="form-container">\n' +
            '        <h1>Accedi</h1>\n' +
            '        <div class="form-group">\n' +
            '        <div id="accerr"></div>\n' +
            '            <label for="account">Account</label>\n' +
            '            <input type="text" class="form-control" id="account" placeholder="Account">\n' +
            '        </div>\n' +
            '        <div class="form-group">\n' +
            '            <label for="pw">Password</label>\n' +
            '            <input type="password" class="form-control" id="pw" placeholder="Password">\n' +
            '        </div>\n' +
            '        <div class="sub-button">\n' +
            '            <button type="button" id="Login" v-on:click="log" class="btn btn-secondary">Accedi</button>\n' +
            '        </div>\n' +
            '        <div class="reg_link">\n' +
            '            Non hai un account? <router-link id="reg" class="nav-link" to="/Registrazione">Registrati ora!</router-link>\n' +
            '        </div>\n' +
            '    </form>\n' +
            '</div>\n' +
            '<div class="col-md-4 col-sm-4 col-xs-12"></div>\n' +
            '</div>\n' +
            '</div>',

        methods: {

            log:function(){

                const account = document.getElementById("account").value;
                const pw = document.getElementById("pw").value;
                const url = "login?account=" + account + "&pw=" + pw;
                xhrObj.open("post", url, true);
                xhrObj.onreadystatechange =  Login.methods.updatePage;
                xhrObj.send(null);

            },

            updatePage:function(){

                if (xhrObj.readyState === 4) {
                    if(xhrObj.status === 200){

                        const risp = xhrObj.responseText;
                        const text = risp.split("|");

                        if(text[0] === "Cliente"){

                            router.push('/');
                            app.account = text[1];
                            app.message = '';
                            app.Logout = true;
                            app.Login_view = false;
                            app.intro_view = true;
                            app.prenotazioni = true;
                            app.Impostazioni_admin = false;
                            app.Reg_view = false;
                        }
                        else if(text[0] === "Amministratore"){

                            router.push('/');
                            app.account = text[1];
                            app.message = '';
                            app.Logout = true;
                            app.Login_view = false;
                            app.intro_view = true;
                            Prenotazioni.All_rev = true;
                            app.Impostazioni_admin = true;
                            app.prenotazioni = true;
                            app.Reg_view = false;


                        }
                        else {

                            const testo = document.getElementById("accerr");
                            testo.innerHTML = risp;
                        }
                    }
                }

            }
        }

    }

    const Registrazione = {

        template: '<div class="container-fluid bg">\n' +
            '    <div class="row">\n' +
            '<div class="col-md-4 col-sm-4 col-xs-12"></div>\n' +
            '<div class="col-md-4 col-sm-4 col-xs-12">\n' +
            '    <form class="form-container">\n' +
            '        <h1>Registrati</h1>\n' +
            '    <div class="form-group">\n' +
            '        <div id="accerr"></div>\n' +
            '        <label for="account">Account</label>\n' +
            '        <input type="text" class="form-control" id="account" placeholder="Account">\n' +
            '    </div>\n' +
            '    <div class="form-group">\n' +
            '        <label for="pw">Password</label>\n' +
            '        <input type="password" class="form-control" id="pw" placeholder="Password">\n' +
            '    </div>\n' +
            '<div class="Role">' +
            '    <div class="form-check-inline">' +
            '        <input class="form-check-input" type="radio" name="ruolo" id="Cliente" value="Cliente" checked>\n' +
            '        <label class="form-check-label" for="Cliente">\n' +
            '            Cliente\n' +
            '        </label>\n' +
            '    </div>\n' +
            '    <div class="form-check-inline">\n' +
            '        <input class="form-check-input" type="radio" name="ruolo" id="Amministratore" value="Amministratore">\n' +
            '        <label class="form-check-label" for="Amministratore">\n' +
            '            Amministratore\n' +
            '        </label>\n' +
            '    </div>\n' +
            '</div>' +
            '<div class="sub-button">\n' +
            '    <button type="button" id="Reg" v-on:click="reg" class="btn btn-secondary">Registrati</button>\n' +
            '</div>' +
            '<div class="reg_link">' +
            'Sei già registrato? <router-link id="log" class="nav-link" to="/Login">Accedi qui!</router-link>' +
            '</div>' +
            '</form>' +
            '</div>\n' +
            '<div class="col-md-4 col-sm-4 col-xs-12"></div>\n' +
            '</div>\n' +
            '</div>',

        methods: {

            reg:function(){

                const account = document.getElementById("account").value;
                const pw = document.getElementById("pw").value;
                const ruolo = document.querySelector('input[name="ruolo"]:checked').value;
                const url = "reg?account=" + account + "&pw=" + pw + "&Ruolo="+ ruolo;
                xhrObj.open("post", url, true);
                xhrObj.onreadystatechange =  Registrazione.methods.updatePage;
                xhrObj.send(null);

            },

            updatePage:function(){

                if (xhrObj.readyState === 4) {
                    if(xhrObj.status === 200){

                        const risp = xhrObj.responseText;
                        const text = risp.split("|");

                        if(text[0] === "Cliente"){

                            router.push('/');
                            app.account = text[1];
                            app.message = '';
                            app.Logout = true;
                            app.Login_view = false;
                            app.intro_view = false;
                            app.prenotazioni = true;
                            app.Impostazioni_admin = false;
                            app.Reg_view = true;

                        }
                        else if(text[0] === "Amministratore"){

                            router.push('/');
                            app.account = text[1];
                            app.message = '';
                            app.Logout = true;
                            app.Login_view = false;
                            app.intro_view = false;
                            Prenotazioni.All_rev = true;
                            app.Impostazioni_admin = true;
                            app.prenotazioni = true;
                            app.Reg_view = true;

                        }
                        else {

                            const testo = document.getElementById("accerr");
                            testo.innerHTML = risp;
                        }
                    }
                }

            }
        }
    }

    const Prenotazioni = {

        data() {
            return {

                All_rev: app.Impostazioni_admin

            }
        },

        template:
            '<article>' +
            '<div id="home_btn" class="btn-group" role="group" aria-label="Basic example">\n' +
            '  <button v-on:click="Add_reservation" type="button" class="option_triple" class="btn btn-secondary">Prenota una ripetizione</button>\n' +
            '  <button v-on:click="Remove_reservation" type="button" class="option_triple" class="btn btn-secondary">Cancella una prenotazione</button>\n' +
            '  <button v-on:click="Your_reservation" type="button" class="option_triple" class="btn btn-secondary">Effettua colloquio</button>\n' +
            '<div v-if="All_rev" class="admin_option"><button class="option_triple" v-on:click="All_reservations" type="button" class="btn btn-secondary">Tutte le prenotazioni</button></div>' +
            '</div>' +
            '<div id="result"></div>' +
            '<div class="Booking_btn">' +
            '<button type="button" v-on:click="Exec_reserv" class="btn btn-secondary">Esegui/Lista Prenotazioni</button>\n' +
            '</div>' +
            '</article>',

        methods: {


            All_reservations: function(){

                const url = "Prenotazioni?tipo=Tutti_utenti";

                xhrObj.open("post", url, true);
                xhrObj.onreadystatechange =  Prenotazioni.methods.updatePage;
                xhrObj.send(null);


            },

            Add_reservation: function (){

                const url = "Prenotazioni?tipo=libere";

                xhrObj.open("post", url, true);
                xhrObj.onreadystatechange =  Prenotazioni.methods.updatePage;
                xhrObj.send(null);
            },

            Remove_reservation: function (){

                Prenotazioni.data().tipo='prenotate';
                const url = "Prenotazioni?tipo=prenotate";

                xhrObj.open("post", url, true);
                xhrObj.onreadystatechange =  Prenotazioni.methods.updatePage;
                xhrObj.send(null);
            },

            Your_reservation: function (){

                const url = "Prenotazioni?tipo=tutte";

                xhrObj.open("post", url, true);
                xhrObj.onreadystatechange =  Prenotazioni.methods.updatePage;
                xhrObj.send(null);
            },

            Exec_reserv: function (){

                var url;

                var rem = document.querySelectorAll('input[name="Reserv_rem"]:checked');
                var arr = [];

                for (var x = 0, l = rem.length; x < l; x++) {
                    arr.push(rem[x].value);
                }

                var str = arr.join(',');

                url = "Prenotazioni?tipo=" + str;

                xhrObj.open("post", url, true);
                xhrObj.onreadystatechange =  Prenotazioni.methods.updatePage;
                xhrObj.send(null);


            },

            updatePage: function (){

                if (xhrObj.readyState === 4) {
                    if (xhrObj.status === 200) {

                        const accerr = document.getElementById("result");
                        accerr.innerHTML = xhrObj.responseText;

                    }
                }
            }
        }

    }

    const Ripetizioni_admin = {

        data() {
            return {

                add: false,
                rem: false,
                btn_rem: false

            }
        },

        template:
            '<article>' +
            '<div id="home_btn" class="btn-group" role="group" aria-label="Basic example">\n' +
            '  <button v-on:click="Aggiungi_Ripetizioni" type="button" class="option_double" class="btn btn-secondary">Aggiungi Ripetizioni</button>\n' +
            '  <button v-on:click="Rimuovi_Ripetizioni" type="button" class="option_double"  class="btn btn-secondary">Rimuovi Ripetizioni</button>\n' +
            '</div>' +
            '<div v-if="add">' +
            '<div class="container-fluid bg">\n' +
            '    <div class="row">\n' +
            '<div class="col-md-4 col-sm-4 col-xs-12"></div>\n' +
            '<div class="col-md-4 col-sm-4 col-xs-12">\n' +
            '    <form class="form-container">\n' +
            '        <h1>Aggiungi una ripetizione!</h1>\n' +
            '    <div class="form-group">\n' +
            '        <div id="accerr"></div>\n' +
            '</div>' +
            '<div class="form-row">\n' +
            '    <div class="form-group col-md-6">\n' +
            '      <label for="Nome_Docente">Nome Docente</label>\n' +
            '      <input type="text" class="form-control" id="Nome_Docente" placeholder="Nome Docente">\n' +
            '    </div>\n' +
            '    <div class="form-group col-md-6">\n' +
            '      <label for="Cognome_docente">Cognome docente</label>\n' +
            '      <input type="text" class="form-control" id="Cognome_docente" placeholder="Cognome docente">\n' +
            '    </div>\n' +
            '  </div>\n' +
            '  <div class="form-group">\n' +
            '    <label for="Corso"></label>\n' +
            '    <input type="text" class="form-control" id="Corso" placeholder="Corso">\n' +
            '  </div>' +
            '<div class="form-row">\n' +
            '    <div class="form-group col-md-6">\n' +
            '      <label for="Giorno">Giorno</label>\n' +
            '       <select class="custom-select mr-sm-2" id="Giorno">\n' +
            '        <option value="Lunedì" selected>Lunedì</option>\n' +
            '        <option value="Martedì">Martedì</option>\n' +
            '        <option value="Mercoledì">Mercoledì</option>\n' +
            '        <option value="Giovedì">Giovedì</option>\n' +
            '        <option value="Venerdì">Venerdì</option>\n' +
            '      </select>\n' +
            '    </div>\n' +
            '    <div class="form-group col-md-6">\n' +
            '      <label for="Ora">Ora</label>\n' +
            '       <select class="custom-select mr-sm-2" id="Ora">\n' +
            '        <option value="15" selected>15:00</option>\n' +
            '        <option value="16">16:00</option>\n' +
            '        <option value="17">17:00</option>\n' +
            '        <option value="18">18:00</option>\n' +
            '      </select>\n' +
            '    </div>\n' +
            '  </div>\n' +
            '        <div class="sub-button">\n' +
            '            <button type="button" id="Add_Repetitions" v-on:click="Add_Repetitions" class="btn btn-secondary">Aggiungi</button>\n' +
            '        </div>\n' +
            '    </form>\n' +
            '</div>\n' +
            '</div>\n' +
            '</div>' +
            '</div>'+
            '<div v-if="rem">' +
            '<div id="result">' +
            '</div>' +
            '<button type="button" class="rem_btn" v-on:click="Remove_Repetitions()" class="btn btn-danger">Elimina/Aggiorna</button>' +
            '</div>' +
            '</article>',

        methods: {

            Aggiungi_Ripetizioni: function () {

                this.add = true;
                this.rem = false;
            },

            Rimuovi_Ripetizioni: function () {

                this.add = false;
                this.rem = true;
                const url = "Impostazioni_admin_ripetizioni?Nome=remove&Cognome=0";
                xhrObj.open("post", url, true);
                xhrObj.onreadystatechange =  Ripetizioni_admin.methods.updatePage_rem;
                xhrObj.send(null);

            },

            Add_Repetitions: function(){

                var Nome = document.getElementById("Nome_Docente").value;
                var Cognome = document.getElementById("Cognome_docente").value;
                var corso = document.getElementById("Corso").value;
                var giorno = document.getElementById("Giorno").value;
                var ora = document.getElementById("Ora").value;

                const url = "Impostazioni_admin_ripetizioni?Nome="+Nome+"&Cognome="+Cognome+"&corso="+corso+"&giorno="+giorno+"&ora="+ora;

                xhrObj.open("post", url, true);
                xhrObj.onreadystatechange =  Ripetizioni_admin.methods.updatePage;
                xhrObj.send(null);

            },

            Remove_Repetitions: function (){

                var rem = document.querySelectorAll('input[name="rip_rem"]:checked');
                var arr = [];

                for(var x = 0, l = rem.length; x < l;  x++)
                {
                    arr.push(rem[x].value);
                }

                var str = arr.join(',');

                const url = "Impostazioni_admin_ripetizioni?Nome="+str+"&Cognome=1000";

                xhrObj.open("post", url, true);
                xhrObj.onreadystatechange =  Ripetizioni_admin.methods.updatePage_rem;
                xhrObj.send(null);

            },

            updatePage:function(){

                if (xhrObj.readyState === 4) {
                    if (xhrObj.status === 200) {

                        const accerr = document.getElementById("accerr");
                        accerr.innerHTML = xhrObj.responseText;

                    }
                }
            },

            updatePage_rem:function(){

                if (xhrObj.readyState === 4) {
                    if (xhrObj.status === 200) {

                        const accerr = document.getElementById("result");
                        accerr.innerHTML = xhrObj.responseText;

                    }
                }
            }

        }
    }

    const Docenti_admin = {


        data() {
            return {

                add: false,
                rem: false,
                btn_rem: false

            }
        },

        template:
            '<article>' +
            '<div id="home_btn" class="btn-group" role="group" aria-label="Basic example">\n' +
            '  <button v-on:click="Aggiungi_Docenti" type="button" class="option_double" class="btn btn-secondary">Aggiungi docenti</button>\n' +
            '  <button v-on:click="Rimuovi_Docenti" type="button" class="option_double" class="btn btn-secondary">Rimuovi docenti</button>\n' +
            '</div>' +
            '<div v-if="add">' +
            '<div class="container-fluid bg">\n' +
            '    <div class="row">\n' +
            '<div class="col-md-4 col-sm-4 col-xs-12"></div>\n' +
            '<div class="col-md-4 col-sm-4 col-xs-12">\n' +
            '    <form class="form-container">\n' +
            '        <h1>Aggiungi un docente!</h1>\n' +
            '        <div class="form-group">\n' +
            '        <div id="accerr"></div>\n' +
            '            <label for="Nome">Nome</label>\n' +
            '            <input type="text" class="form-control" id="Nome" placeholder="Nome">\n' +
            '        </div>\n' +
            '        <div class="form-group">\n' +
            '            <label for="Cognome">Cognome</label>\n' +
            '            <input type="text" class="form-control" id="Cognome" placeholder="Cognome" >\n' +
            '        </div>\n' +
            '        <div class="sub-button">\n' +
            '            <button type="button" id="Add_teachers" v-on:click="Add_teachers" class="btn btn-secondary">Aggiungi</button>\n' +
            '        </div>\n' +
            '    </form>\n' +
            '</div>\n' +
            '</div>\n' +
            '</div>' +
            '</div>'+
            '<div v-if="rem">' +
            '<div id="result">' +
            '</div>' +
            '<button type="button" class="rem_btn" v-on:click="Remove_teachers()" class="btn btn-danger">Elimina/Aggiorna</button>' +
            '</div>' +
            '</article>',

        methods: {

            Aggiungi_Docenti: function () {

                this.add = true;
                this.rem = false;
            },

            Rimuovi_Docenti: function () {

                this.add = false;
                this.rem = true;
                const url = "Impostazioni_admin_docenti?Nome=remove&Cognome=0";
                xhrObj.open("post", url, true);
                xhrObj.onreadystatechange =  Docenti_admin.methods.updatePage_rem;
                xhrObj.send(null);

            },

            Add_teachers: function(){

                var Nome = document.getElementById("Nome").value;
                var Cognome = document.getElementById("Cognome").value;

                const url = "Impostazioni_admin_docenti?Nome=" + Nome + "&Cognome=" + Cognome;

                xhrObj.open("post", url, true);
                xhrObj.onreadystatechange =  Docenti_admin.methods.updatePage;
                xhrObj.send(null);

            },

            Remove_teachers: function (){

                var rem = document.querySelectorAll('input[name="docente_rem"]:checked');
                var arr = [];

                for(var x = 0, l = rem.length; x < l;  x++)
                {
                    arr.push(rem[x].value);
                }

                var str = arr.join(',');

                const url = "Impostazioni_admin_docenti?Nome="+str+"&Cognome=1000";

                xhrObj.open("post", url, true);
                xhrObj.onreadystatechange =  Docenti_admin.methods.updatePage_rem;
                xhrObj.send(null);

            },

            updatePage:function(){

                if (xhrObj.readyState === 4) {
                    if (xhrObj.status === 200) {

                        const accerr = document.getElementById("accerr");
                        accerr.innerHTML = xhrObj.responseText;
                    }
                }
            },

            updatePage_rem:function(){

                if (xhrObj.readyState === 4) {
                    if (xhrObj.status === 200) {

                        const accerr = document.getElementById("result");
                        accerr.innerHTML = xhrObj.responseText;

                    }
                }
            }

        }

    }

    const Corsi_admin = {

        data() {
            return {

                add: false,
                rem: false,
                btn_rem: false

            }
        },

        template:
            '<article>' +
            '<div id="home_btn" class="btn-group" role="group" aria-label="Basic example">\n' +
            '  <button v-on:click="Aggiungi_Corsi" type="button" class="option_double" class="btn btn-secondary">Aggiungi corsi</button>\n' +
            '  <button v-on:click="Rimuovi_Corsi" type="button" class="option_double"  class="btn btn-secondary">Rimuovi corsi</button>\n' +
            '</div>' +
            '<div v-if="add">' +
            '<div class="container-fluid bg">\n' +
            '    <div class="row">\n' +
            '<div class="col-md-4 col-sm-4 col-xs-12"></div>\n' +
            '<div class="col-md-4 col-sm-4 col-xs-12">\n' +
            '    <form class="form-container">\n' +
            '        <h1>Aggiungi un corso!</h1>\n' +
            '        <div class="form-group">\n' +
            '        <div id="accerr"></div>\n' +
            '            <label for="corso">Corso</label>\n' +
            '            <input type="text" class="form-control" id="corso" placeholder="Corso">\n' +
            '        </div>\n' +
            '        <div class="form-group">\n' +
            '            <label for="cfu">CFU</label>\n' +
            '            <input type="number" class="form-control" id="cfu" placeholder="CFU" value="3" min="1" max="30">\n' +
            '        </div>\n' +
            '        <div class="sub-button">\n' +
            '            <button type="button" id="Add_courses" v-on:click="Add_courses" class="btn btn-secondary">Aggiungi</button>\n' +
            '        </div>\n' +
            '    </form>\n' +
            '</div>\n' +
            '</div>\n' +
            '</div>' +
            '</div>'+
            '<div v-if="rem">' +
            '<div id="result">' +
            '</div>' +
            '<button type="button" class="rem_btn" v-on:click="Remove_courses()" class="btn btn-danger">Elimina/Aggiorna</button>' +
            '</div>' +
            '</article>',

        methods: {

            Aggiungi_Corsi: function () {

                this.add = true;
                this.rem = false;
            },

            Rimuovi_Corsi: function () {

                this.add = false;
                this.rem = true;
                const url = "Impostazioni_admin_corsi?corso=remove&cfu=0";
                xhrObj.open("post", url, true);
                xhrObj.onreadystatechange =  Corsi_admin.methods.updatePage_rem;
                xhrObj.send(null);

            },

            Add_courses: function(){

                var corso = document.getElementById("corso").value;
                var cfu = document.getElementById("cfu").value;

                const url = "Impostazioni_admin_corsi?corso=" + corso + "&cfu=" + cfu;

                xhrObj.open("post", url, true);
                xhrObj.onreadystatechange =  Corsi_admin.methods.updatePage;
                xhrObj.send(null);

            },

            Remove_courses: function (){

                var rem = document.querySelectorAll('input[name="corso_rem"]:checked');
                var arr = [];

                for(var x = 0, l = rem.length; x < l;  x++)
                {
                    arr.push(rem[x].value);
                }

                var str = arr.join(',');

                const url = "Impostazioni_admin_corsi?corso="+str+"&cfu=1000";

                xhrObj.open("post", url, true);
                xhrObj.onreadystatechange =  Corsi_admin.methods.updatePage_rem;
                xhrObj.send(null);

            },

            updatePage:function(){

                if (xhrObj.readyState === 4) {
                    if (xhrObj.status === 200) {

                        const accerr = document.getElementById("accerr");
                        accerr.innerHTML = xhrObj.responseText;
                    }
                }
            },

            updatePage_rem:function(){

                if (xhrObj.readyState === 4) {
                    if (xhrObj.status === 200) {

                        const accerr = document.getElementById("result");
                        accerr.innerHTML = xhrObj.responseText;

                    }
                }
            }

        }


    }

    const routes = [
        { path: '/', component: Home},
        { path: '/Login', component: Login },
        { path: '/Prenotazioni', component: Prenotazioni },
        { path: '/Registrazione', component: Registrazione },
        { path: '/Impostazioni_Docenti', component: Docenti_admin },
        { path: '/Impostazioni_Ripetizioni', component: Ripetizioni_admin },
        { path: '/Impostazioni_Corsi', component: Corsi_admin }


    ]

    const router = VueRouter.createRouter({
        history: VueRouter.createWebHashHistory(),
        routes,
    })

    const app = Vue.createApp({
        data() {
            return {
                message: 'Benvenuto! Accedi o registrati per prenotare',
                intro_view: false,
                account: '',
                Login_view: true,
                Logout: false,
                Impostazioni_admin: false,
                prenotazioni: false,
                seen: true,
                Reg_view: false
            }
        },
        methods: {

            logout(){

                const url = "logout";
                xhrObj.open("post", url, true);
                xhrObj.onreadystatechange =  this.updatePage;
                xhrObj.send(null);

            },

            updatePage() {

                if (xhrObj.readyState === 4) {
                    if (xhrObj.status === 200) {

                        if(xhrObj.responseText === 'Sessione invalidata') {

                            router.push('/');
                            app.message = 'Benvenuto! Accedi o registrati per prenotare';
                            app.intro_view = false;
                            app.account = '';
                            app.Login_view = true;
                            app.Logout = false;
                            app.Impostazioni_admin = false;
                            app.prenotazioni = false;
                            app.Reg_view = false;
                        }
                    }
                }
            }
        }
    }).use(router).mount('#app')
</script>

</body>
</html>

