<!DOCTYPE html>
<html lang="en">
<head><title>Prenotazioni Unito</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <style>

        #reg, #log{

            float: left;
        }

    </style>



</head>
<body>

<div id="app">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <router-link class="navbar-brand"  to="/">Prenotazioni unito</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <router-link class="nav-link" to="/">Home <span class="sr-only">(current)</span></router-link>
                </li>
                <span v-if="prenotazioni">
                    <li class="nav-item">
                    <router-link class="nav-link" to="/Prenotazioni">Le tue prenotazioni</router-link>
                    </li></span>
                <span v-if="Login">
                 <li class="nav-item">
                     <router-link id="log" class="nav-link" to="/Login">Login</router-link>
                 </li></span>
                <span v-if="Logout">
                    <li class="nav-item">
                     <button id="logout" class="nav-link" v-on:click="logout">Logout</button>
                    </li></span>
            <li class="nav-item">
                <router-link id="reg" class="nav-link" to="/Registrazione">Registrazione</router-link>
            </li>
            </ul>
        </div>
    </nav>


    <router-view></router-view>

</div>


<script>

    function setXMLHttpRequest() {

        var xhr = null;
        if (window.XMLHttpRequest) {
            xhr = new XMLHttpRequest();
        } else if (window.ActiveXObject) {
            xhr = new ActiveXObject("Microsoft.XMLHTTP");
        }
        return xhr;
    }

    const xhrObj = setXMLHttpRequest();

    var home = {

        template: '<h1>Questa è la home</h1>'


    }

    var Login = {

        template: '<form id= "frm-log" name="frm-login" method="post">\n' +
            '    <div class="form-group">\n' +
            '        <div id="accerr"></div>\n' +
            '        <label for="account">Account</label>\n' +
            '        <input type="text" class="form-control" id="account" placeholder="Account">\n' +
            '    </div>\n' +
            '    <div class="form-group">\n' +
            '        <label for="pw">Password</label>\n' +
            '        <input type="password" class="form-control" id="pw" placeholder="Password">\n' +
            '    </div>\n' +
            '\n' +
            '    <button type="button" id="Login" v-on:click="log" class="btn btn-primary">Submit</button>\n' +
            '</form>',

        methods: {

            log: function () {

                var account = document.getElementById("account").value;
                var pw = document.getElementById("pw").value;
                accerr = document.getElementById("accerr");
                var url = "login?account=" + account + "&pw="+pw;
                xhrObj.open("post", url, true);
                xhrObj.responseType = 'text';
                xhrObj.onreadystatechange = this.updatePage;
                xhrObj.send(null);

            },

            updatePage:function (){

                if (xhrObj.readyState === 4) {
                    if (xhrObj.status === 200) {
                        var risp = xhrObj.responseText;

                        if(risp === "loggato"){

                            router.push('/');
                            app.prenotazioni = true;
                            app.Logout = true;
                            app.Login = false;
                        }
                        else {

                            var accerr = document.getElementById("accerr");
                            accerr.innerHTML = risp;
                        }
                    }
                }

            }
        }
    }

    var Registrazione = {

        template: '<form>\n' +
            '    <div class="form-group">\n' +
            '        <div id="accerr"></div>\n' +
            '        <label for="account">Account</label>\n' +
            '        <input type="text" class="form-control" id="account" placeholder="Account">\n' +
            '    </div>\n' +
            '    <div class="form-group">\n' +
            '        <label for="pw">Password</label>\n' +
            '        <input type="password" class="form-control" id="pw" placeholder="Password">\n' +
            '    </div>\n' +
            '    <p>Ruolo</p>\n' +
            '    <div class="form-check-inline">\n' +
            '        <input class="form-check-input" type="radio" name="ruolo" id="Cliente" value="Cliente" checked>\n' +
            '        <label class="form-check-label" for="Cliente">\n' +
            '            Cliente\n' +
            '        </label>\n' +
            '    </div>\n' +
            '    <div class="form-check-inline">\n' +
            '        <input class="form-check-input" type="radio" name="ruolo" id="Amministratore Sito" value="Amministratore Sito">\n' +
            '        <label class="form-check-label" for="Amministratore Sito">\n' +
            '            Amministratore Sito\n' +
            '        </label>\n' +
            '    </div>\n' +
            '    </br>\n' +
            '    <button type="button" id="Reg" v-on:click="reg" class="btn btn-primary">Submit</button>\n' +
            '</form>',

        methods: {

            reg:function (){

                var select;

                var account = document.getElementById("account").value;
                var pw = document.getElementById("pw").value;
                var ruolo = document.querySelectorAll('input[name="ruolo"]');


                for(var rs of ruolo){

                    if(rs.checked){

                        select = rs.value;
                        break;
                    }
                }
                var url = "reg?account="+account+"&pw="+pw+"&Ruolo="+select;
                xhrObj.open("post", url, true);
                xhrObj.responseType = 'text';
                xhrObj.onreadystatechange = this.updatePage;
                xhrObj.send(null);
            },

            updatePage:function (){

                if (xhrObj.readyState === 4) {
                    if (xhrObj.status === 200) {
                        var risp = xhrObj.responseText;

                        if(risp === "loggato"){

                            router.push('/');
                            app.prenotazioni = true;
                            app.Logout = true;
                            app.Login = false;

                        }
                        else {

                            var accerr = document.getElementById("accerr");
                            accerr.innerHTML = risp;
                        }
                    }
                }

            }


        }
    }

    var Prenotazioni = {

        template: '<h1>Queste sono le tue prenotazioni</h1>'
    }

    const router = new VueRouter({
        routes:[
            { path: '/', component: home },
            { path: '/Login', component: Login },
            { path: '/Registrazione', component: Registrazione },
            { path: '/Prenotazioni', component: Prenotazioni}
        ]
    })

    var app = new Vue({

        el: '#app',
        router: router,
        data: {

            message: 110,
            prenotazioni: false,
            Logout: false,
            Login: true
        },

        methods: {

            logout: function () {

                alert("sloggato");
                app.prenotazioni = false;
                app.Logout = false;
                router.push('/');

            }
        }



    });


</script>

<script>
/*


    function login() {

        var account = document.getElementById("account").value;
        var pw = document.getElementById("pw").value;
        accerr = document.getElementById("accerr");
        var url = "login?account=" + account + "&pw="+pw;
        xhrObj.open("post", url, true);
        xhrObj.responseType = 'text';
        xhrObj.onreadystatechange = updatePage;
        xhrObj.send(null);

    }
    */
</script>
</body>
</html>
