body{

    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;

}

.form-container{

    border: 1px solid #ffffff;
    padding: 5% 10%;
    margin-top: 10%;
    -webkit-box-shadow: -1px 0px 11px 5px #0C99FF;
    box-shadow: -1px 0px 11px 5px #0C99FF;

}

.sub-button{

    margin-top: 5%;
}

.reg_link{

    margin: 10% 0;
    text-align: center;

}

.Role{

    margin-top: 5%;
}

.intro{

    text-align: center;
}

#home_btn{


    border: 1px solid #ffffff;

}

#rm_button{

    padding: 2% 10% 10% 45%;

}

#result{


}

#home button{

    padding: 10% 20% 10%;
}

.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
    /* .component-fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.right{

    float: right;
    margin-left: 60%;
}