*{

    box-sizing: border-box;
    padding: 0;
}
body{

    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;

}

.navbar-brand:hover{
    color: #999999;

}

.navbar-brand{
    color: #ffffff;
    font-size: 28px;
    transition: all 0.5s ease;

}


ul li .nav-link{

    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize;

}
ul li .nav-link:hover{

    color: #999999;
}

ul li .nav-link{

    display: block;
    font-size: 150%;
    text-transform: capitalize;
    color: #ffffff;
    padding: 20px 0;
    transition: all 0.3s ease;
}

.navbar.navbar-expand-lg{

    background-color: #b30000;
}

.navbar.navbar-expand-lg ul li {
    display: inline-block;
    margin-left: 20px;
}
.form-container{

    border: 1px solid #ffffff;
    padding: 5% 10%;
    margin-top: 10%;
    -webkit-box-shadow: -1px 0 11px 5px #b30000;
    box-shadow: -1px 0 11px 5px #b30000;

}

.sub-button{

    margin-top: 5%;
}

.Booking_btn button{

    float: left;
    margin-left: 78%;
    width: 300px;
    height: 50px;
    font-size: 20px;
}

.reg_link{

    margin: 10% 0;
    text-align: center;

}

.Role{

    margin-top: 5%;
}

header{

    text-align: center;
}

#logout{

    cursor: pointer;
    background: none;
    border:none;
}
.intro{

    background-color: #b30000;
    color: white;
    margin-top: -2%;
    font-size: 300%;
    line-height: 300%;

}

.option{
    margin-top: -1%;
    width: 755px;
    height: 100px;
    font-size: 30px;

}

.option_triple{
    margin-top: -0.55%;
    width: 380px;
    height: 100px;
    font-size: 30px;

}

.admin_option{
    margin-top: -0.45%;
    width: 380px;
    height: 100px;
    font-size: 30px;

}

.option_double{

    margin-top: -0.55%;
    width: 754px;
    height: 100px;
    font-size: 30px;
}